---
layout: default
title: Tilly's Hundeleben
---

<div class="home" id="home">
  <h3 class="pageTitle">Anekdoten aus dem Leben eines griechischen Kokonis</h3>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">
        {% assign m = page.date | date: '%-m' %}
{{ page.date | date: '%d' }}
{% case m %}
  {% when '01' %}Januar
  {% when '02' %}Februar
  {% when '03' %}März
  {% when '04' %}April
  {% when '05' %}Mai
  {% when '06' %}Juni
  {% when '07' %}Juli
  {% when '08' %}August
  {% when '09' %}September
  {% when '10' %}Oktober
  {% when '11' %}November
  {% when '12' %}Dezember
{% endcase %}
{{ page.date | date: '%Y' }}
        </span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Neuere Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Ältere Posts</a>
    {% endif %}
  </div>
</div>
